
.pay{
    display: flex;
    margin: 12% auto;
    padding: 1vw;
}

/* <!-- 좌측: 주문자 정보 --> */
.payInfo{
    width: 60%;
}


.ordererInfo,
.shippingInfo,
.paymentInfo,
.orderInfoDetail,
.totalAmount,
.orderAgree{
padding: 3vh;
}

.ordererInfo ul,
.shippingInfo ul,
.totalAmount ul{
    padding: 0;
    padding-top: 10px;
}
 
.ordererInfo ul li,
.shippingInfo ul li{
margin: 10px;
}

.ordererInfo ul li label,
.shippingInfo ul li label{
    width: 10%;
}

.ordererInfo input,
.shippingInfo ul input,
.addressBox input{
    width: 150px;
    border: none;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    margin-right: 5px;
    background-color: rgb(241, 241, 241);
}


.ordererInfo h3,
.shippingInfo h3,
.paymentInfo h3{
    border-bottom: 1px solid var(--color-black);
}


.basicInfo{
    width: 100%;
    display: flex;
    padding: 10px;

}

.basicInfo input{
    margin-bottom: 10px;
    width: 300px;
}

.basicInfo label{
    width: 10%;
}

.paymentInfo ul{
    display: flex;
    justify-content: space-evenly;
    padding:5px;
}

.paymentInfo ul li{
    width: 45%;
    border: 1px solid var(--color-black);
    padding: 1vh;
    text-align: center;
    align-items: center;
    font-weight: 600;
}

.paymentInfo ul li:hover{
    cursor: pointer;
}

/* <!-- 우측: 주문상품 및 금액 --> */
.orderInfo{
    width: 35%;
    /* background-color: rgb(243, 91, 91); */
    padding: 3vh;
}


.totalAmount ul{
    display: flex;
    /* justify-content: space-evenly; */
    border-top: 1px solid rgb(173, 173, 173);
}

.agreeWrapper input{
    padding: 15px;
    background-color:hotpink ;
}


.orderItem{
    background-color: green;

}

.orderItem ul li{
    background-color: blue;
}

.orderItem ul{
    display: flex;
    justify-content: space-evenly;
}

.orderAgree button{
    width: 100%;
    background-color: var(--color-black);
    color: var(--color-white);
    padding: 1vh;
    margin-top: 1vh;
    border: none;
}