/* -----------------qna 페이지----------------- */
.qna{
    display: flex;
    margin: 15% auto;
}

.qnaNavbar{
    width: 15%;
    padding:5vw 1vw;
}

.qnaNavbar ul li{
    margin:1vw;
}

.qnaNavbar ul li:nth-child(1){
    font-size: 1.5vw;
    font-weight: 700;
}


.qnaText{
    width: 85%;
}

.accordion{
    margin: 5vw;
}

.qnaText h3,.myInfo h3{
    text-align: center;
    width: 100%;
    padding: 2vh;
}
