/* //////////////전체 공용//////////// */
/* CSS Reset */
html,body,h1,h2,h3,p,ul,li,button,svg,main,a{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
    /* font-family: var(--font-main); */
    font-family: 'Poor Story';
}

body {
    height: 100%;
    width: 100%;
    font-weight: 400;
}

:root{
    /* 컬러 */
    --color-white:white;
    --color-grey:#d3d3d3;
    --color-darkgrey:#222222;
    --color-black:black;

    /* 폰트체 */
    --font-main:font-family: 'Gowun Dodum', sans-serif;
}

.l_col_12_12{width:100%;} /*12칸 중 12칸 사용*/
.l_col_11_12{width:91.6666667%;} /*12칸 중 11칸 사용*/
.l_col_10_12{width:83.3333333%;} /*12칸 중 10칸 사용*/
.l_col_9_12{width:75%;} /*12칸 중 9칸 사용*/
.l_col_8_12{width:66.666667%;} /*12칸 중 8칸 사용*/
.l_col_7_12{width:58.3333333%;} /*12칸 중 7칸 사용*/
.l_col_6_12{width:50%;} /*12칸 중 6칸 사용*/
.l_col_5_12{width:41.666667%;} /*12칸 중 5칸 사용*/
.l_col_4_12{width:33.3333333%;} /*12칸 중 4칸 사용*/
.l_col_3_12{width:25%;} /*12칸 중 3칸 사용*/
.l_col_2_12{width:16.666667%;} /*12칸 중 2칸 사용*/
.l_col_1_12{width:8.3333333%;} /*12칸 중 1칸 사용*/


/* ul Reset  */
ul{
    list-style-type: none;
}

i{
    border: none;
    text-decoration: none;
}

a{
    text-decoration-line: none !important;
    color:var(--color-darkgrey)!important;
}

li{
    list-style: none;
}

h2{
    font-size: 2vw;
    font-weight: 700;
    padding: 1vw;
  }


/* ----------------헤더----------------- */
header{
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: center;
}

.headerwrapper{
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.Swiper{
    background-color: var(--color-grey);
    height: 40px;
    position: sticky;
    justify-content: right;
}

.NewArrivals{
    text-align: center;
    align-items: center;
    padding:10px;
}


.NewArrivals svg{
    float: right;
    text-align: right;
}

.Andbar:before{
    content: '  |  ';
    padding:0px 15px;
}

/* 메인 로고 */
.MainLogoWrapper{
    font-size: 3vw;
}

.InfoLogo{
    /* width: 100%; */
    display: flex;
    justify-content: space-between;
    padding: 0.3vw 6vw;
    align-items: flex-end;
    background-color: #ffffffad;
    font-family: 'BhuTuka Expanded One', cursive;
}

.InfoLogos{
    padding:0.5em;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.InfoLogos svg{
    width: 3vw;
    /* background-color: yellow; */
}

.Item >a {
    margin:0.5vw;
    font-size: 1vw;
    box-sizing: border-box;
    /* background-color: rgb(194, 240, 238); */
}

.Item >a:hover{
    border-bottom: 2px solid var(--color-grey);
}

.itemCategory{
    display: flex;
    border-top: 1px solid var(--color-black);
    padding: 1vw 4vh;
    justify-content:space-between;
    align-items: center;
    /* background-color: rgb(248, 228, 248); */
}

.itemCategory form{
    /* background-color: violet; */
    display: flex;
    align-items: center;
}



form input{
    border: 0.5px solid var(--color-grey);
    border-radius: 5px;
    height: 30px;
    width: 200px;
    margin-right: 0.5vw;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

form button{
    height: 30px;
    padding-top: 5px;
    border: none;
    background-color: white;
}

button{
    background-color: black;
    color: white;
    padding: 0.5vh;
    border:none;
}

button:active{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}
/* 아이템 리스트 */
.itemListWrapper{
    /* width: 70%; */
    display: flex;
    flex-wrap: wrap;
    margin: 3vh auto;
    background-color: indigo;
    text-align: center;
  }

  .itemListWrapper li{
    border: 1px solid rgb(238, 238, 238);
    /* width: 33.333%; */
    padding: 1.2vw;
}




main{
    margin-bottom: 35vh;
}



/* -------------------푸터-------------- */
.FooterInfo{
    border-top: 1px solid var(--color-grey);
    display: flex;
    color:var(--color-darkgrey);
    height: 50%;
    justify-content: space-around;
    letter-spacing: 3px;
}

.FooterInfo h3{
    padding:0.5em;
    font-size: 1.2vw;

}

.CompanyInfo,.CustomerSupport,.AppDownload{
font-size: 0.8vw;
padding:2vw 4vh;
/* background-color: yellowgreen; */
}


.FooterInfo li{
    list-style-type: disc;
    padding:0.3em;
}

.FooterInfo ul{
    padding-left: 2em;
    background-color: white;
}

.AppDownload img{
  width: 100px;
  padding-left: 1em;

}


/* 전체 공용 컴포넌트 */
.clearfix:before,
.clearfix:after {
    content: ' ';
    display: table;
}

.clearfix:after {
    clear: both;
}

.verticalLine{
    border: 1px solid var(--color-grey);
    width: 0.1px; 
    height: 50vh;
}


.horizontalLine{
    border: 1px solid var(--color-black);
    width: 100%;
    height: 0.5px;
}

.box_wrap{
    display: flex;
    flex-direction: column;
    letter-spacing: 2px;
  }
  
  .img_box .bag{
    width: 300px;
  }

  
  .cart{
    width: 2vw;
    margin: -1vh;
    margin-bottom: -5vh;
  }

  .cart:hover{
    cursor: pointer;
}

.cart:active{
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}

/* Mediaqueries */
@media(min-width:768px){
	.cover{
		position:fixed;
		left:0;
		top:0;
		width:60vw;
		height:100vh;
	}
	
	/* .contents{
		margin-left:60vw;
	} */
}

@media(min-width:1400px){
	.cover{
		padding:0;
	}
	
	.contetns-section-cover{
		display:block;
	}
	
	.cover-title{
		position:absolute;
		left:0;
		top:50%;
		font-size:6vw;
		transform:translatey(-50%);
		-webkit-transform:translatey(-50%);
		-moz-transform:translatey(-50%);
		-ms-transform:translatey(-50%);
		-o-transform:translatey(-50%);
}
	
	.l_col_ld_8_12{
		width: 66.66666667%;
	}
	
	.l_col_right{
		float:right;
	}
}



