/*--------------- 메인페이지/*--------------- */
/* 메인케러셀 */
.newsList{
  /* background-color: violet; */
  width: 100%;
  height: 800px;
  margin:12% auto;
  display: flex;
  justify-content: center;
  align-items: center;
}


.SlideShowContainer {
    width: 90%;
    height: 90%;

    /* background-color: red; */
}

.mySlides {
  display: none;
}

.prev, .next {
    /* background-color: yellow; */
  cursor: pointer;
  position: absolute;
  top: 60vh;
  width: auto;
  /* margin-top: -22px; */
  padding: 6px;
  color: var(--color-white)!important;
  font-weight: bold;
  font-size: 2vw;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 5%;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.SlideText {
  color: #f2f2f2;
  font-size: 3vw;
  position: absolute;
  bottom: 3vh;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}


.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 3s;
  animation-name: fade;
  animation-duration: 3s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade { 
  from {opacity: .4}
  to {opacity: 1}
}

/* -----------핫딜----------- */
.HotDeal{
  width: 100%;
  height: 90%;
  text-align: center;
}




.HotDealContents{
  display: flex;
  justify-content: center;
  /* background-color: yellowgreen; */
}

.HotDealWrapper{
  padding:1vw;
  /* background-color: violet; */
  height: 80%;
  
}

.HotDealContentsVideo{
  width:45vw;
}

.HotDealContentsVideo video{
  width: 100%;
}

.HotDealContentsText{
  color:white;
  z-index: 1000;
  font-size: 3vw;
  position: relative;
  bottom: 20vh;
}

/* ----------------------타이머--------------------  */
.Timer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  color:#333;
}

.NumberDays,.NumberHours,.NumberMinutes,.NumberSeconds,.number-semi{
  font-size: 3vw;
  min-width: 1vw;
}

.timeText{
  font-size: 2vw;
  /* background-color: red; */
}

.Timer ul>li{
  display: flex;
  flex-direction: row;
  /* background-color: green; */
  display: inline-block;
  text-align: center;
}

.Timer ul{
  display: flex;
  flex-direction: row;
  /* background-color: pink; */
  /* padding-bottom: 100px; */
  justify-content: center;
  align-items:center;
}

.Timer li{
  display: flex;
  flex-direction: column;
  padding: 1vh;
  text-align: center;
  align-items: center;
}

/* -----------이번주 베스트셀러----------- */
.BestSeller{
  /* background-color: rgb(197, 230, 191); */
  margin: 0 auto;
  text-align: center;
}

/* .itemListWrapper{
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: space-around;
  padding-bottom: 3vh;
} */

.BestSellerWrapper li{
  width: 300px;
  /* background-color: rgb(209, 36, 45); */
  margin: 1vh 0.5vw;

}


/* -------------------당장 사야할 것들 -------------- */
.MustBuyNow{
  width: 90%;
  text-align: center;
  font-weight: 400;
  /* background-color: red; */
  margin:0 auto;
}



.cg-carousel__container{
  width: 100%;
  /* background-color: yellow; */
  display: flex;                                
  justify-content: center;
   padding-bottom: 10vh;
}

.cg-carousel__slide{
  width: 400px;
  height: 300px;
  /* background-color: red; */
  margin:20px;
}

.cg-carousel__slide img{
  height: 100%;
  width: 100%;
}

.cg-carousel__btns{
  width: 100%;
  /* background-color: blue; */
  display: flex;
  justify-content: center;
}

.cg-carousel__btn{
  background-color: rgb(190, 194, 196);
  margin: 5px;
  width: 40px;
  height: 25px;
  padding:5px;
  border-radius: 5px;
}

/* -----------난리난 브랜드----------- */
.RageNow{
  text-align: center;
  width: 100%;
}



.videoWrapper video{
  width: 100%;
}


.videoWrapper button{
  position: relative;
  bottom:200px;
  border: none;
  font-size: 1.5vw;
  font-weight: 600;
  border-radius: 5px;
  padding: 10px;
  background-color: var(--color-white);
}

/* -----------------추천리스트--------------- */
.Recommend{
  text-align: center;
}


.RecommendWrapper{
  width: 65%;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: space-around;

}

.RecommendWrapper li{
  width: 300px;
  margin: 5px 1px;

}


.RecommendBox_wrap{
  position: relative;
  background-color: rgb(216, 216, 214);
}


.RecommendImg_box{
  display: flex;
}
.RecommendImg_box .bag{
  width: 300px;
}
