/* itemdetail.html */
.buy{
  display: flex;
  margin: 15% auto;
  /* background-color: purple; */
}

.itemDetail{
    width: 60%;
    /* background-color: yellow; */
}


.itemDetail img{
    width: 90%;
    margin: 2vw;
}

.itemBuy{
    width: 40%;
    display: flex;
    justify-content: center;
    text-align: center;
    /* background-color: pink; */
}

.itemBuyContents{
    /* background-color: rgb(228, 190, 108); */
    width: 20vw;
    top:40vh;
    position: fixed;
    justify-content: center;
    z-index: 1;
    
}

.itemBuyContents ul{
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
}


.itemDes li{
  /* padding: 5px; */
}

.itemDes li:first-child{
  font-size: 1.5vw;
  font-weight: 700;
}

.itemDes li:nth-child(3){
  font-size: 1.3vw;
  padding: 5%;
}

.itemDes li:nth-child(2),
.itemDes li:nth-child(4),
.itemDes li:nth-child(5){
  color:grey;
}


.itemBuyBtn{
    display: flex;
    flex-direction: column;
    margin: 1vh;
}

.itemBuyBtn button{
  margin: 0.5vh;
  padding: 1vh;
  font-size: 0.9vw;
  border: none;
  font-weight: 600;
}

.itemBuyBtn button:active{
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.itemBuyBtn button:hover{
  cursor: pointer;
}

.itemBuyBtn button:nth-child(2){
  background-color: black;
  color: white;
}


.likeNadd{
    padding: 0;
    display: flex;
    justify-content: space-around;
    /* background-color: green; */
}

.likeNadd div a{
    /* background-color: hotpink; */
    display: flex;
    align-items: center;
    height: 100%;
    padding: 3px;
}

.likeNadd div a svg{
  margin-left: 5px;
}


/* 정책 */
.informWrapper{
  /* background-color: black; */
  /* color: white; */
  /* height: 30vh; */
  border-top: 1px solid black;
  border-bottom: 1px solid black;

}

.informInner{
  display: flex;
  justify-content: space-around;

}

.informInner .inform{
  background-color: rgb(240, 240, 240);
  width: 25%;
  padding: 2vh;
  margin: 1vh 0.5vh;
  height: 100%;

}

.inform p{
  margin: 5px;
}
/* 추천상품 */
.row h2{
    padding-top: 10vh;
    padding-left: 5vh;
    /* background-color: red; */
}

.row {
  overflow: scroll;
  width: 100%;
  padding-bottom: 10vh;
  background-color: rgb(240, 240, 240);
}
.row__inner {
  transition: transform;
  /* background-color: pink; */
  font-size: 0;
  white-space: nowrap;
  /* margin-top:3vh;
  margin-bottom:5vh; */
  margin: 3vh;
  padding:2vh;
}
.RecomItem {
  /* position: relative; */
  display: inline-block;
  width: 300px;
  height: 400px;
  margin-right: 10px;
  font-size: 20px;
  cursor: pointer;
  transition: all;
  transform-origin: center left;
  /* border: 1px solid black; */
}

.RecomItem__img {
  width: 100%;
  object-fit: cover;
}

.RecomItem__details {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  font-size: 10px;
  opacity: 0;
  background: linear-gradient(to top, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0) 100%);
  transition: opacity .5s;
  -webkit-transition: opacity .5s;
  -moz-transition: opacity .5s;
  -ms-transition: opacity .5s;
  -o-transition: opacity .5s;
}
.RecomItem__details:after,
.RecomItem__details:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: #000;
}

.RecomItem__details:before {
  content: '상품 정보';
  left: 0;
  width: 100%;
  font-size: 30px;
  margin-left: 7px;
  margin-top: -18px;
  text-align: center;
  z-index: 2;
  color: aliceblue;
}
.RecomItem:hover .RecomItem__details {
  opacity: 1;
}
.RecomItem__title {
  position: absolute;
  bottom: 0;
  padding: 10px;
}

.row__inner:hover .RecomItem {
  opacity: 0.3;
}
.row__inner:hover .RecomItem:hover {
  transform: scale(1.2);
  opacity: 1;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}
.RecomItem:hover ~ .RecomItem {
  transform: translate3d(20%, 0, 0);
  -webkit-transform: translate3d(20%, 0, 0);
  -moz-transform: translate3d(20%, 0, 0);
  -ms-transform: translate3d(20%, 0, 0);
  -o-transform: translate3d(20%, 0, 0);
}