/* ----------------전체 공용---------------- */
/* CSS Reset */
html,body,h1,h2,h3,p,ol,ul,li,button,svg,main,a{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}

body {
    height: 100%;
    width: 100%;
    text-align: center;
}

:root{
    /* 컬러 */
    --color-white:white;
    --color-lightgrey:rgb(241, 241, 241);
    --color-grey:#d3d3d3;
    --color-darkgrey:#222222;
    --color-black:black;

    /* 폰트 크기 */
    --font-14px:14px;
    --font-16px:16px;
    --font-20px:20px;
    --font-30px:30px;
    --font-40px:40px;

    /* 한글 폰트체 */
    --font-main:font-family: 'Gowun Dodum', sans-serif;
    /* --font-en: 'BhuTuka Expanded One', cursive; */

}


/* 반응형 컴포넌트 */

/* 스몰 */
@media(max-width:576px){
  
    /* 유연하게 해야할 것 */
   
    /* 사이즈 조절할 것 */

    /* 감출 것 */

    /* 옮길 것 */
 

}

@media(max-width:768px){
    /* addDown.html  */
    nav[class="InfoLogo"]{
        display:block;
        text-align: center;
    }
}

@media (max-width:480px){
	
	html{
		/* font-size:80%; *16px*62.5%에서 80%로 키우겠다 */
	}
	/* mobile 새로 만들어서 html에 추가해두기 */
	.l_col_mobile_12_12{width:100%;} /*12칸 중 12칸 사용*/
	.l_col_mobile_11_12{width:91.6666667%;} /*12칸 중 11칸 사용*/
	.l_col_mobile_10_12{width:83.3333333%;} /*12칸 중 10칸 사용*/
	.l_col_mobile_9_12{width:75%;} /*12칸 중 9칸 사용*/
	.l_col_mobile_8_12{width:66.666667%;} /*12칸 중 8칸 사용*/
	.l_col_mobile_7_12{width:58.3333333%;} /*12칸 중 7칸 사용*/
	.l_col_mobile_6_12{width:50%;} /*12칸 중 6칸 사용*/
	.l_col_mobile_5_12{width:41.666667%;} /*12칸 중 5칸 사용*/
	.l_col_mobile_4_12{width:33.3333333%;} /*12칸 중 4칸 사용*/
	.l_col_mobile_3_12{width:25%;} /*12칸 중 3칸 사용*/
	.l_col_mobile_2_12{width:16.666667%;} /*12칸 중 2칸 사용*/
	.l_col_mobile_1_12{width:8.3333333%;} /*12칸 중 1칸 사용*/
}

/* ul,i,a,li Reset  */
ul{
    list-style-type: none;
    margin-left:0;
    padding: 0;
}

i{
    border: none;
    text-decoration: none;
}

a{
    text-decoration-line: none !important;
    color:var(--color-darkgrey);
}

li{
    list-style: none;
}

h2{
    padding: 3vh;
    font-size: var(--font-30px);
    font-weight: 300;
    /* background-color: red; */
}

h3{
    font-size: var(--font-16px);
    font-weight: 400;
}

button{
    background-color: var(--color-black);
    color: var(--color-white);
    padding: 0.5vh;
    border:none;
}

button:hover{
    cursor: pointer;
}

button:active,
.itemImg:hover{
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transition: transform 0.5s;
    -webkit-transition: transform 0.5s;
    -moz-transition: transform 0.5s;
    -ms-transition: transform 0.5s;
    -o-transition: transform 0.5s;
}
thead>tr{
    padding:10px;
    border-bottom: 1px solid var(--color-darkgrey);
    background-color: var(--color-black);
    color:var(--color-white);
}


tbody>tr>td{
    padding: 20px;
}

tbody>tr{
    border-bottom: 1px solid var(--color-grey);
}

main{
    margin: 5vh 0;
    min-height: 100vh;
}


/* 클리어픽스 */
.clearfix:before,
.clearfix:after {
    content: ' ';
    display: table;
}

.clearfix:after {
    clear: both;
}

.verticalLine{
    width: 0.1px; 
    border: 1px solid var(--color-grey);
}

.horizontalLine{
    width: 100%;
    height: 0.5px;
    border: 1px solid var(--color-black);
}


/* NearFetch메인 로고 */
.InfoLogo>.MainLogoWrapper{
    text-align: center;
    font-size: var(--font-40px);
    font-weight: 300;
}

.InfoLogo{
    align-items: flex-end;
}

.InfoMenu{
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 1vh 3vh 0 1vh;
}


.InfoMenu>button{
    background-color: transparent;
    color:var(--color-black);
    
}

.InfoMenu>button:nth-child(1)::after,
.InfoMenu>button:nth-child(3)::after,
.InfoMenu>button:nth-child(5)::after{
    content: '  |';
}

.closeBtn{
    float: right;
    width: 20px;
}

.itemCategory{
    display: flex;
    justify-content:space-around;
    padding: 5px;
    border-bottom: 0.5px solid var(--color-grey);
}

.topnav{
    position: absolute;
    display: flex;
    justify-content: center;
}

  .topnav>.icon {
    display: none;
  }


  /* navBar 버튼 */
  .dropdown .dropbtn,
  .dropdown>button {
    border: none;
    outline: none;
    padding: 10px 25px;
    /* background-color: transparent; */
  }

  /* 숨길 내용 */
  .dropdown-content {
    display: none;
    position: absolute;
    z-index: 100;
    background-color: #ffffff;
    font-size:var(--font-16px);
    padding:20px ;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
  }
  

  .dropdown-content>.categoryMedium{
    min-width: 150px;
    text-align: left;
    display: inline-block;
  }

  .dropdown-content>.categoryMedium>a{
      font-weight: 600;
  }

  .dropdown-content ul{
      padding-left: 0;
  }

.categoryMedium>ul>li>a {
    float: none;
    display: block;
    text-align: left;
    text-decoration: none;
    font-size: var(--font-14px);
  } 

  .topnav a:hover, 
  .dropdown:hover .dropbtn,
  .dropdown button:hover {
    background-color: var(--color-darkgrey);
    color: var(--color-white);
  }
 
  .dropdown:hover .dropdown-content {
    display: flex;
  }

.itemCategory>form{
    display: flex;
    justify-content: right;
    width: 100%;
}

/* 검색창 */
input[name="word"]{
    height: 40px;
    width: 250px;
    border:0.5px solid var(--color-grey);
    text-indent: var(--font-30px);
    margin-right: var(--font-30px);
}

.itemCategory button{
    background-color: var(--color-white);
    color:var(--color-black);
}



/* 아이템 리스트*/
.itemListWrapper ul{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
}



.itemListWrapper li{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    padding: 1.5vw;
    letter-spacing: 2px;
    margin:5px;
}

.itemListWrapper li .itemBrand{
    margin-top: 10px;
}
.itemListWrapper li .itemImg{
    height: 300px;
    margin: 5px;
}

.itemListWrapper li>.skuNum{
    display: none;
}

.itemListWrapper li>.itemName{
    color: var(--color-grey);
    font-weight: 400;
}

.itemListWrapper li>.itemName,
.itemListWrapper li>.price,
.itemListWrapper li>.sale_price{
    font-size: var(--font-14px);
}

.price::after,
.sale_price::after{
    content: '원';
}

 .cart{
    width: 25px;
    position: relative;
    left: 50%;
}

.cart:active{
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transition: transform 0.3s;
    -webkit-transition: transform 0.3s;
    -moz-transition: transform 0.3s;
    -ms-transition: transform 0.3s;
    -o-transition: transform 0.3s;
}

.itemListWrapper .cart:hover{
    cursor: pointer;
}

/* 로그인&회원가입 */
form[class="login"]>.loginInfoWrapper,
form[class="sign"]>.registerBtnWrapper{
    text-align: left;
    padding:5px;
    border-top: 1px solid black;
}

.registerBtnWrapper,
.signInAgreeWrapper{
    text-align: left;
}

.login>.loginFormTitle,
.sign>.registerFormTitle{
    font-size: var(--font-30px);
    padding: 10px;
}

.inputWrapper{
    margin: 10px;
}

.inputWrapper>input{
    width: 100%;
    margin-top: 5px;
}
.signInAgreeWrapper{
    padding: 5px 20px;
    font-size: var(--font-14px);
}

.btnWrapper{
    display: flex;
    flex-direction: column;
    text-align: left;
}

form[class="sign"]>.btnWrapper{
    text-align: center;
}

.btnWrapper>button{
    margin:10px;
    padding: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.btnWrapper>.mailLogin:hover,
.btnWrapper>.kakaoLogin:hover{
    background-color: var(--color-lightgrey);
    color: var(--color-black);
    border: 1px solid var(--color-black);
}

.btnWrapper>.kakaoLogin{
    background-color: var(--color-white);
    color: var(--color-black);
    border: 1px solid var(--color-black);
}

.loginActions,
.signInActions{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 15px;
}
.loginActions>ul{
    padding-left: 0;
    margin-bottom: 0;
}

.loginActions>ul>li{
    text-decoration: underline;
}

/* 푸터 */
.FooterInfo{
    display: flex;
    justify-content: space-around;
    color:var(--color-darkgrey);
    border-top: 1px solid var(--color-grey);
    letter-spacing: 3px;
}

.FooterInfo>div{
    text-align: left;
    padding: var(--font-30px);
}

.FooterInfo>div>h3{
    margin:20px -10px;
    font-size: 1.5vw;
}

.FooterInfo>div>ul>li{
    list-style-type: disc;
    font-size: var(--font-14px);
    padding: 3px;
    font-weight: 200;
}

.FooterInfo>div>ul>li:hover{
    background-color:var(--color-lightgrey);
}

.AppDownload{
    display: flex;
    flex-direction: column;
}
.carouselWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.carouselWrapper img{
    width: 250px;
    background: url(/images/3D.gif);
    background-position-x: center;
}


/* ----------------메인/main.html---------------- */
/* 로그인 모달창 */
#loginModal,
#registerModal{
    position: fixed; 
    z-index: 1000;
    display: none; 
    width: 100%;
    height: 100%;
    overflow: auto; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    background-color: rgba(240, 240, 240, 0.651); 
  }

.modal-content{
    position:absolute;
    top:50%;
    left:50%;
    z-index: 1000;
    width: 500px;
    margin: auto;
    padding: 20px;
    background-color: #fefefe;
    transform: translate(-50%,-50%);
    border: 1px solid #888;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}

  .loginClose:hover,
  .loginClose:focus, 
  .registerClose:hover,
  .registerClose:focus,
  .removeCart:hover,
  .removeCart:focus{
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }


/* 섹션1_메인케러셀 */
@keyframes tonext {
    75% {
      left: 0;
    }
    95% {
      left: 100%;
    }
    98% {
      left: 100%;
    }
    99% {
      left: 0;
    }
  }
  
  @keyframes tostart {
    75% {
      left: 0;
    }
    95% {
      left: -300%;
    }
    98% {
      left: -300%;
    }
    99% {
      left: 0;
    }
  }
  
  @keyframes snap {
    96% {
      scroll-snap-align: center;
    }
    97% {
      scroll-snap-align: none;
    }
    99% {
      scroll-snap-align: none;
    }
    100% {
      scroll-snap-align: center;
    }
  }
  
  
  *::-webkit-scrollbar {
    width: 0;
  }
  
  *::-webkit-scrollbar-track {
    background: transparent;
  }
  
  *::-webkit-scrollbar-thumb {
    background: transparent;
    border: none;
  }
  
  * {
    -ms-overflow-style: none;
  }

  .carousel {
    position: relative;
    filter: drop-shadow(0 0 10px rgba(192, 192, 192, 0.562));
    perspective: 100px;
    -webkit-filter: drop-shadow(0 0 10px rgba(192, 192, 192, 0.562));
}
  
  .carousel__viewport {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    overflow-x: scroll;
    counter-reset: item;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
  }
  
  .carousel__slide {
    position: relative;
    flex: 0 0 100%;
    width: 100%;
    height: 500px;
    counter-increment: item;
    background-color: rgb(235, 235, 235);
  }

  .carousel__snapper img{
      height: 100%;
  }
  
 
  .carousel__slide:before {
    content: counter(item);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%,-40%,70px);
    color: #fff;
  }
  
  .carousel__snapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    scroll-snap-align: center;
  }
  
  @media (hover: hover) {
    .carousel__snapper {
      animation-name: tonext, snap;
      animation-timing-function: ease;
      animation-duration: 4s;
      animation-iteration-count: infinite;
    }
  
    .carousel__slide:last-child .carousel__snapper {
      animation-name: tostart, snap;
    }
  }
  
  @media (prefers-reduced-motion: reduce) {
    .carousel__snapper {
      animation-name: none;
    }
  }
  
  .carousel:hover .carousel__snapper,
  .carousel:focus-within .carousel__snapper {
    animation-name: none;
  }
  
  .loginClose,
  .registerClose{
    float: right;
      width: 28px;
  }

  .removeCart{
    position: relative;
    top: -25px;
    right: -100px;
      width: 20px;
  }
  
  .loginClose:active,
  .registerClose:active
  .removeCart:active{
      transform: scale(1.1);
      -webkit-transform: scale(1.1);
      -moz-transform: scale(1.1);
      -ms-transform: scale(1.1);
      -o-transform: scale(1.1);
      transition: transform 0.3s;
      -webkit-transition: transform 0.3s;
      -moz-transition: transform 0.3s;
      -ms-transition: transform 0.3s;
      -o-transition: transform 0.3s;
}

  /*섹션2_핫딜*/
  /* 타이머 */
  .Timer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:var(--color-darkgrey);
  }

 .Timer>ul>li>div:first-child{
    font-size: var(--font-30px);
    min-width: var(--font-16px);
  }

  .Timer>ul>li>div:nth-child(2){
    font-size: var(--font-16px);
  }

  .Timer ul{
    padding-left: 0;
  }

  .Timer ul>li{
    display: inline-block;
  }

  .HotDealContents{
      width: 60%;
    display: flex;
    /* justify-content: center; */
    margin: 0 auto;
    padding: 20px;
  }

  .HotDealContents img{
      width: 90%;
  }

  


  .HotDealContents .divWrapper{
      position: relative;
      top: -90%;
      font-size: 3vh;
    font-weight: 300;
      color: rgba(83, 83, 83, 0.473);
    
  }

/* .HotDealContents .itemWrapper{
    border: 3px solid red;
    width: 400px;
    height: 400px;
} */


/* 섹션3_당장 사야할 것들  */
  .mustBuyWrapper{
    display: flex;                                
    justify-content: center;
    width: 100%;
    margin: 50px 0px;
  }
  
  .MustBuyNow .itemWrapper{
    box-sizing: content-box;
    width: 400px;
    height: 400px;
    margin:10px;
    border: 1px solid var(--color-grey);
  }
  
  .MustBuyNow .itemWrapper img{
    width: 100%;
    height: 400px;
  }

  .MustBuyNow .itemWrapper>.divWrapper{
    position: relative;
    bottom:60%;
    color: var(--color-white);
    font-weight: 200;
    background-color: rgba(0, 0, 0, 0.308);
    padding:10px;
}

.divWrapper>.itemName{
    font-size: var(--font-20px);
}

/* 섹션4_난리난 브랜드 */
  .videoWrapper img{
    width: 100%;
  }
  
  .videoWrapper a{
    position: relative;
    bottom:30vh;
    border-bottom: 1px solid var(--color-white);
    font-size: 3vw;
    font-weight: 300;
    padding: 1vh;
    color: rgb(255, 255, 255)
}
  
  /* 섹션5_추천리스트 */
.box_wrap:hover {
    opacity: 1;
  }

  .Recommend>.itemListWrapper:hover .box_wrap {
    opacity: 0.8;
  }
  .Recommend>.itemListWrapper:hover .box_wrap:hover {
    transform: scale(1.2);
    opacity: 1;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}

  

/* ----------------상품 리스트(기획전 브랜드)/branditem.html---------------- */
.hotBrandWrapper{
    text-align: center;
}

.hotBrandName:nth-child(1){
    padding:10px;
    font-size: var(--font-30px);
}

/* 현재 카테고리 위치 */
.currentCategoryWrapper li{
    display: inline-block;
}

.currentCategoryWrapper{
    display: flex;
    justify-content: center;
    font-size: var(--font-30px);
    font-weight: 200;
    padding: 10px;
}

.currentCategoryWrapper img{
    width: 15px;
}

.mainHot img{
    width: 100%;
    filter: brightness(70%);
}

.mainHot>.hotBrandDes{
    color: var(--color-white);
    font-weight: 200;
    position: relative;
    top:-300px;
    font-size: 50px
}

.sortingWrapper{
    display: flex;
    justify-content:space-between;
    margin-bottom: 5vh;
    padding: 1%;
}

.leftrightBtn,
.updownBtn{
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transition: transform 0.5s;
    -webkit-transition: transform 0.5s;
    -moz-transition: transform 0.5s;
    -ms-transition: transform 0.5s;
    -o-transition: transform 0.5s;
}


/* 필터(공용) */
.leftrightBtn.active,
.updownBtn.active{
   transform: rotate(180deg);
   -webkit-transform: rotate(180deg);
   -moz-transform: rotate(180deg);
   -ms-transform: rotate(180deg);
   -o-transform: rotate(180deg);
   transition: transform 0.5s;
   -webkit-transition: transform 0.5s;
   -moz-transition: transform 0.5s;
   -ms-transition: transform 0.5s;
   -o-transition: transform 0.5s;
}

.sortDetail{
    padding-left: 0;
    margin-bottom: 0;

}

.sortWrapper ul li,
.filterWrapper ul li{
    font-size: 0.8vw;
    margin-top: 0.5vh;
}

.filterWrapper ul li{
    padding: 2px;
    border: 1px solid var(--color-darkgrey);
    letter-spacing: 2px;
}


.itemListWrapper.active{
    position: relative;
    right: -20vw;
    width:75%;
}

.sortWrapper.active{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.filter_gender,
.filter_category_small,
.filter_category_brand,
.priceSlider{
    border-bottom: 2px solid var(--color-lightgrey);
     margin: 10px 0px;
     padding:5px
}

.filter_category{
    display: none;
}

.filter_category.active{
    display: block;
}

.filter_category_small_ul,
.filter_category_brand_ul{
    overflow: scroll;
    height: 300px;
}

.filter_category li.active,
.filter_category li:hover{
    background-color: var(--color-black);
    color: var(--color-white);
}

.sortDetail>li:hover,
.sortWrapper:hover,
.filterWrapper:hover{
    cursor: pointer;
}



.sortDetail{
    padding-left: 0;
    margin-bottom: 0;
    display:none;
}

.sortDetail.active{
    display: block;
}

/* 카테고리 필터(좌) */
.filterWrapper{
    position: absolute;
    left: 5vw;
    text-align: left;
}

.filterWrapper.active{
    width: 220px;
}

/* 정렬 필터 */
.sortWrapper{
    position: absolute;
    right: 5vw;
    z-index: 100;
    text-align: right;
    /* background-color: var(--color-white); */
    padding: 1%;

}

/* 가격 슬라이더 */
.priceSlide{
width: 200px;
background-color: #fff;
padding: 10px 20px;
}

.min{
float: left;  
}
.max{
    float: right;   
}

.min:after,
.max:after{
    content: '원';
    font-size: 10px;
}

.min-max{
max-width: 200px;
margin: 0 auto;
padding: 25px 0px 15px 0px;    
}

.min-max span{
font-size: 10px;
text-align: center;
display: inline-block;
}

.min-max-range{
padding: 30px 0px 20px 0px;    
}

.range{
-webkit-appearance:none;
appearance:none;
width: 50%;
height: 10px;
max-width: 400px;
background-color: #dedede;
margin: 0;
padding: 0;
outline: none;
float: left;    
}

.range::-webkit-slider-thumb{
-webkit-appearance:none;
appearance:none;
background-color: #0070BF;
height: 10px;
width: 10px;
border-radius: 50%;
cursor: pointer;
}

.range::moz-range-thumb{
-webkit-appearance:none;
appearance:none;
background-color: #0070BF;
height: 10px;
width: 10px;
border-radius: 50%;
cursor: pointer;
}


/* ----------------제품 상세/itemdetail.html---------------- */

/* 상품 상세 사진(좌) */
.buy{
    display: flex;
}

.itemDetail{
    width: 50%;
}

.itemDetail img{
    width: 80%;
    margin: 2vw;
}
  
/* 상품 구매 버튼(우) */
  .itemBuy{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top:20%;
    right: 10vw;
    z-index: 5;
    width: 30%;
    text-align: center;
    padding: 20px;
  }
  
  .itemBuyBtn{
      display: flex;
      flex-direction: column;
  }
.itemDes{
    margin:5px;
}
 
  .itemDes .itemBrand{
    font-size: var(--font-20px);
  }
  
  .itemDes .price{
    font-size: 1.3vw;
  }
  
  .itemDes .itemName{
    color:var(--color-grey);
  }
  
  
  .itemBuyBtn button,
  .itemBuyBtn select,
  .itemBuyBtn div{
    margin: 0.5vh;
    padding: 1vh;
    font-size: 0.9vw;
  }


  /* 장바구니 버튼 */
  button[class="goCart"]{
      background-color: var(--color-white);
      color:var(--color-black);
      border: 1px solid var(--color-darkgrey);
  }

  
  /* 정책 */
  .informWrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    border: 1px solid var(--color-lightgrey);
    padding: var(--font-14px);
  }

  .informWrapper>div{
      width: 100%;
      margin:20px 0;
      letter-spacing: 3px;
  }

  .inform>div:first-child{
    font-weight: 700;
    font-size: 2vh;
    }

    .inform>div:nth-child(2),
    .inform>div:nth-child(3),
    .inform>p{
    font-weight: 200;
    font-size: 12px;
    }

    .expectedArrival a{
        font-weight: 200;
    }

  
  /* 추천상품(케러설) */
  .sideRecommend{
      margin: 1vw;
  }

  .row h2{
    text-align: left;
    font-weight: 2vw;
  }
  
  .row {
    overflow: scroll;
    background-color: rgb(235, 235, 235);
  }

  .row__inner {
    transition: transform;
    white-space: nowrap;
    -webkit-transition: transform;
    -moz-transition: transform;
    -ms-transition: transform;
    -o-transition: transform;
}
  
  .RecomItem {
    display: inline-block;
    width: 300px;
    height: 400px;
    margin-right: 10px;
    font-size: 20px;
    cursor: pointer;
    transition: all;
    transform-origin: center left;
  }
  
  .RecomItem__img {
    width: 100%;
    height: 400px;
    object-fit: cover;
  }

  .RecomItem__details {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top:60%;
    opacity: 0;
    background: linear-gradient(to top, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0) 100%);
    transition: opacity .5s;
    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -ms-transition: opacity .5s;
    -o-transition: opacity .5s;
    color: white;
    font-size: 1.1vw;
    font-weight: 200;
}
 
  .RecomItem__details .itemName{
      font-size: 1.5vw;
      font-weight: 500;
  }

  .RecomItem__details .materials,
  .RecomItem__details .skuNum{
      display: none;
  }

  .RecomItem:hover .RecomItem__details {
    opacity: 1;
  }
  
  .row__inner:hover .RecomItem {
    opacity: 0.3;
  }

  .row__inner:hover .RecomItem:hover {
    transform: scale(1.1);
    opacity: 1;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transition: transform 0 .5s;
    -webkit-transition: transform 0 .5s;
    -moz-transition: transform 0 .5s;
    -ms-transition: transform 0 .5s;
    -o-transition: transform 0 .5s;
}

  .RecomItem:hover ~ .RecomItem {
    transform: translate3d(20%, 0, 0);
    -webkit-transform: translate3d(20%, 0, 0);
    -moz-transform: translate3d(20%, 0, 0);
    -ms-transform: translate3d(20%, 0, 0);
    -o-transform: translate3d(20%, 0, 0);
  }
/* ----------------내 정보(통합)/myinfoAll---------------- */
/* 공용 */

.myInfoList{
    display: flex;
    justify-content: center;
}

.infoBar{
    padding:5vw 0vw;
    width: 10%;
}

.infoBar ul li{
    margin:1vw;
}

.infoBar ul li a:hover{
    border-bottom: 5px solid var(--color-grey);
}

.infoBar ul li:nth-child(1){
    font-size: 1.5vw;
    font-weight: 700;
}

.myInfo{
    padding:0vw 5vw;
    width: 80%;
}

.myInfo h3{
    text-align: center;
    font-size: 2vw;
    font-weight: 300;
    padding: 1vh;
}

#myInfoWrapper{
    min-height: 500px;
    border:1px solid var(--color-grey);
    display: flex;
    align-items: center;
}

.myInfoWrapper thead tr th:nth-child(1),
.myInfoWrapper thead tr th:nth-child(2){
    width: 15%;
} 

.myInfoWrapper thead tr th:nth-child(3),
.myInfoWrapper thead tr th:nth-child(4){
    width: 10%;    
} 
.addListTable{
    min-width:100%;
}


.addListTable thead tr th{
    width: 20%;
}

.addListTable tbody{
    background-color: white;
}

tbody .contents .itemBrand{
color: var(--color-grey);
}

.totalNBtn{
    padding: 5vh;
}

.totalNBtn>.totalAmount{
    text-align: center;
}

.totalNBtn .proceed{
    margin: 1vh;
}


/* 1.좋아요(like.html) */
/* .myInfoWrapper{
    display: flex;
    flex-direction: column;
}
.likeWrapper{
    display: flex;
    flex-wrap: wrap;
    min-height: 20vh;
}

.likeWrapper .likeItem{
    width: 23%;
    margin: 2vh 1vh;
    padding: 2vh;
    text-align: center;
    min-height: 50vh;
    background-color: red;
}


.likeItem div:nth-child(3){
    padding-top: 1vh;
    font-size: 1.2vw;
}

.likeItem img:first-child{
    float: right;
    width: 1vw;
    padding-bottom: 1vh;
}

.likeItem img:first-child:active{
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}

.likeItem img{
    max-width: 100%;
}

.likeItem button{
    width: 100%;
} */

/* 2.장바구니(cart.html) */
.rowOne div{
    margin: 1vw 5vw;
    font-weight: 700;
}

.addWrapper>.rowOne{
    display: flex;
    justify-content: right;
    border-bottom: 1px solid var(--color-grey);
}

.addWrapper>.item{
    display: flex;
    border-bottom: 1px solid var(--color-grey);
}

.item>div{
    margin:4vh;
}

.imageWrapper img{
    max-width: 20vw;
}

.itemInfoWrapper{
    display: flex;
    justify-content: space-between;
    width: 60%;
    color: var(--color-grey);
}

.itemInfoWrapper>div:nth-child(2){
    display: flex;
    justify-content: space-around;
    width:20vw;
}

.itemInfoWrapper>div>.brand{
    font-weight: 600;
    font-size: 1.8vw;
    color: var(--color-black);
}

.totalAmount{
    text-align: right;
    padding:2vh;
}

.myInfoWrapper button{
    width:10vw;
    margin-top: 10vh;
}

.addImg img{
    width: 150px;
}

/* 3.내 정보 */
#myInfoWrapper{
    display: flex;
    flex-direction: row;
}

.myInfoAddress{
    width: 50%;
    text-align: left;
    padding: 1.8vw;
}

.basicInfo{
    display: flex;
    flex-direction: column;
}

.imgNextoMyinfo{
    width: 50%;
}

.myInfoAddress h4:before{
    content: '*';
}

.myInfoAddress h4{
    font-weight: 300;
    margin-top: 5vh;
}

.myInfoAddress button{
    width: 95%;
}

.myInfoWrapper h6{
    color:#bbbbbb;
    font-weight: 200;
    font-size: 0.8vw;
    margin-bottom: 5vh;
    margin-top: 0;
}

.addressBox label:active{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

/* 4.주문 정보(order.html) */
.orderListTable{
    text-align: center;
}

.orderListTable thead tr th:nth-child(1){
    width: 3%;
}

.orderListTable thead tr th:nth-child(3){
    width: 18%;
}

.orderListTable thead tr th:nth-child(2),
.orderListTable thead tr th:nth-child(4),
.orderListTable thead tr th:nth-child(5),
.orderListTable thead tr th:nth-child(6){
    width: 13%;
}

.orderListTable thead tr th:nth-child(7){
    width: 20%;
}

.orderListTable tbody tr td img:nth-child(1){
    max-width: 150px;
}

.itemOption select{
    width: 80px;
    text-align: center;
}
    
/* 상세 배송정보 */
.trkInfo img:hover{
    cursor: pointer;
    transform: scale(1.3);
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
}

.trkCompany::after{
    content: '/';
}
/* ----------------결제/pay.html---------------- */
.pay{
    display: flex;
    padding: 1vw;
    text-align: left;
}

/* <!-- 좌측: 주문자 정보 --> */
.payInfo{
    width: 55%;
}

.payInfo>div,
.orderInfo>div{
padding: 3vh;
}

.ordererInfo ul,
.shippingInfo ul,
.totalAmount,
.basicInfo,
.shippingInfo>.checkSame,
.orderAgree{
    padding: 1vh;
}

.ordererInfo ul li,
.shippingInfo ul li{
    margin: 10px;
}

.ordererInfo ul li label,
.shippingInfo ul li label{
    width: 10%;
}

.ordererInfo input,
.shippingInfo ul input,
.addressBox input{
    width: 150px;
    border: none;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    margin-right: 5px;
    background-color: rgb(241, 241, 241);
}

.pay h3{
    border-bottom: 1px solid var(--color-black);
    font-weight: 600;
    padding: 1vh;
}

.basicInfo{
    padding: 2vh;
}

.basicInfo input{
    margin-top: 10px;
    width: 300px;
}

.paymentInfo ul,
.orderItem ul{
    display: flex;
    justify-content: space-evenly;
    margin: 2vh;
}

.paymentInfo ul li{
    width: 45%;
    align-items: center;
    border: 1px solid var(--color-black);
    padding: 1vh;
    text-align: center;
    font-weight: 600;
}

.paymentInfo ul li:hover{
    cursor: pointer;
}

.orderItem table{
    text-align: center;
    font-size: var(--font-14px);

}
.orderItem thead > tr {
    background-color: var(--color-white);
    color: var(--color-black);
}

.orderItem tbody{
    font-weight: 300;
}

.totalAmount::after{
    content: '원';
}

/* <!-- 우측: 주문상품 및 금액 --> */
.orderInfo{
    width: 45%;
}


.orderAgree button{
    width: 100%;
    margin-top: 2vh;
}

/* ----------------결제 완료/paydone.html---------------- */
.payDoneWrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.payDoneNotice img,
.payDoneBtn button{
    width: 10vw;
}

.payDoneNotice h2{
    line-height: 1.5;
}


/* ----------------앱 소개/appDown.html---------------- */
nav[class="InfoLogo"]{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: 800;
    margin:10px 0;

}

.logo{
    font-size: 4vh;
}

.InfoLogo .appBtns a{
    padding: 1vh;
    margin-right: 1vw;
    font-weight: 200;
    border: none;
    background-color:var(--color-lightgrey);
    color: var(--color-black);
    box-shadow: 5px 5px 5px rgba(167, 167, 167, 0.521);
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.InfoLogo .appBtns a:active{
    transform: scale(1.15);
    -webkit-transform: scale(1.15);
    -moz-transform: scale(1.15);
    -ms-transform: scale(1.15);
    -o-transform: scale(1.15);
    transition: transform 0.5s;
    -webkit-transition: transform 0.5s;
    -moz-transition: transform 0.5s;
    -ms-transition: transform 0.5s;
    -o-transition: transform 0.5s;
}

.appBtns a:nth-child(1),
.appBtns a:hover{
    background-color: var(--color-black);
    color: var(--color-white);
}

/* 좌측 페이지 이동 버튼(동그라미) */
.circleWrap{
    position: fixed;
    display: flex;
    flex-direction: column;
    left: 4vw;
    top:40vh;
}

.circleWrap img{
    margin: 1vh;
    width: 20px;
}

.circle{
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.circle:hover{
    cursor: pointer;
    background-color: var(--color-black);
}

.circle:nth-child(1){
    background-color: var(--color-black);
}

/* 정보(공용) */
.infoWrapper{
    text-align: center;
}

.appinfo{
    display: flex;
    justify-content: center;
    height: 100vh;
}


.infoInner{
    width: 80%;
    height: 50%;
    margin-top: 5%;
}

.infoInnerTxt>div:first-child{
    padding: 2vw;
    line-height: 1.5;
    font-size:3vw;
    font-weight: 300;
}

.appinfo .show{
    color: var(--color-grey);
    letter-spacing: -2px;
    font-size:2vw;
    font-weight: 200;
    padding: var(--font-20px);
    line-height: 2;
}

.appInfo2 .show{
    padding: 50px;
}


/* 섹션1*/
.appinfo .intro{
    align-items: center;
    display: flex;
    justify-content: center;
    overflow: hidden;
    min-height: 100vh;
}

.brandText{
    position: absolute;
    top: 30vh;
    width: 6em;
    height: 2em;
    color: #fff;
    font-weight: 900;
    line-height: 1em;
    font-size: 10vw;
    text-shadow: -10px 15px 7px rgba(175, 175, 175, 0.507);
    transform-style: preserve-3d;
    letter-spacing: -2px;
    transform: rotate(-28deg) skew(25deg);
    -webkit-transform: rotate(-28deg) skew(25deg);
    -moz-transform: rotate(-28deg) skew(25deg);
    -ms-transform: rotate(-28deg) skew(25deg);
    -o-transform: rotate(-28deg) skew(25deg);
}

.heart{
    position: absolute;
    animation: heartmove 4s linear forwards;
    -webkit-animation: heartmove 4s linear forwards;
    animation-iteration-count: infinite;
}

@keyframes heartmove{
    from{
        opacity: 0;
        top: -15%;
    }
    to{
        opacity: 1;
        top:50%;
    }
}

/* 섹션2*/
.slider {
    position: relative;
    overflow: hidden;
    /* height: 60%; */
    margin: auto;
    width: 100%;
    box-shadow: 10px 10px 20px 10px rgba(0, 0, 0, .125);

}
.slider::before, .slider::after {
    position: absolute;
    content: "";
    height: 1vh;
    width: 20vw;
    z-index: 2;
}
.slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}
.slider::before {
    left: 0;
    top: 0;
}
.slider .slide-track {
    align-items: center;
    display: flex;
    justify-content: center;
    animation: scroll 40s linear infinite;
    width: calc(20vw * 14);
    height: 90%;
    -webkit-animation: scroll 40s linear infinite;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
   }
    100% {
        transform: translateX(calc(-20vw * 7));
        -webkit-transform: translateX(calc(-20vw * 7));
        -moz-transform: translateX(calc(-20vw * 7));
        -ms-transform: translateX(calc(-20vw * 7));
        -o-transform: translateX(calc(-20vw * 7));
}
}

.slider .slide {
    /* height: 30vh; */
    align-items: center;
    width: 20vw;
    padding: 1vw;
}
.slide img{
    /* height: 100%; */
    width: 100%;
}


/* 섹션3 */
.infoInner .content {
    display: flex;
    margin: auto;
    overflow: hidden;
    font-size: 35px;
    line-height: 60px;
}

.infoInner .content__container {
    font-weight: 600;
    overflow: hidden;
    height: 60px;
    width: 100%;
}

.infoInner .content__container>.bracket{
    color: #16a085;
    font-size: 40px;
    line-height: 40px;
    -webkit-animation-name: opacity;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    animation-name: opacity;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.content__container__list {
    margin: 0;
    padding: 0;
    text-align: center;
    padding-left:30px;
    list-style: none;
    -webkit-animation-name: change;
    -webkit-animation-duration: 10s;
    -webkit-animation-iteration-count: infinite;
    animation-name: change;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
.content__container__list__item {
    color: #16a085;
    line-height: 60px;
    margin: 0;
}
@-webkit-keyframes opacity {
    0%, 100% {
        opacity: 0;
   }
    50% {
        opacity: 1;
   }
}
@-webkit-keyframes change {
    0%, 12.66%, 100% {
        transform: translate3d(0, 0, 0);
   }
    16.66%, 29.32% {
        transform: translate3d(0, -25%, 0);
   }
    33.32%, 45.98% {
        transform: translate3d(0, -50%, 0);
   }
    49.98%, 62.64% {
        transform: translate3d(0, -75%, 0);
   }
    66.64%, 79.3% {
        transform: translate3d(0, -50%, 0);
   }
    83.3%, 95.96% {
        transform: translate3d(0, -25%, 0);
   }
}
@-o-keyframes opacity {
    0%, 100% {
        opacity: 0;
   }
    50% {
        opacity: 1;
   }
}
@-o-keyframes change {
    0%, 12.66%, 100% {
        transform: translate3d(0, 0, 0);
   }
    16.66%, 29.32% {
        transform: translate3d(0, -25%, 0);
   }
    33.32%, 45.98% {
        transform: translate3d(0, -50%, 0);
        -webkit-transform: translate3d(0, -50%, 0);
        -moz-transform: translate3d(0, -50%, 0);
        -ms-transform: translate3d(0, -50%, 0);
        -o-transform: translate3d(0, -50%, 0);
}
    49.98%, 62.64% {
        transform: translate3d(0, -75%, 0);
   }
    66.64%, 79.3% {
        transform: translate3d(0, -50%, 0);
   }
    83.3%, 95.96% {
        transform: translate3d(0, -25%, 0);
   }
}
@-moz-keyframes opacity {
    0%, 100% {
        opacity: 0;
   }
    50% {
        opacity: 1;
   }
}
@-moz-keyframes change {
    0%, 12.66%, 100% {
        transform: translate3d(0, 0, 0);
   }
    16.66%, 29.32% {
        transform: translate3d(0, -25%, 0);
   }
    33.32%, 45.98% {
        transform: translate3d(0, -50%, 0);
   }
    49.98%, 62.64% {
        transform: translate3d(0, -75%, 0);
   }
    66.64%, 79.3% {
        transform: translate3d(0, -50%, 0);
   }
    83.3%, 95.96% {
        transform: translate3d(0, -25%, 0);
   }
}
@keyframes opacity {
    0%, 100% {
        opacity: 0;
   }
    50% {
        opacity: 1;
   }
}
@keyframes change {
    0%, 12.66%, 100% {
        transform: translate3d(0, 0, 0);
   }
    16.66%, 29.32% {
        transform: translate3d(0, -25%, 0);
   }
    33.32%, 45.98% {
        transform: translate3d(0, -50%, 0);
   }
    49.98%, 62.64% {
        transform: translate3d(0, -75%, 0);
   }
    66.64%, 79.3% {
        transform: translate3d(0, -50%, 0);
   }
    83.3%, 95.96% {
        transform: translate3d(0, -25%, 0);
   }
}


/* 섹션4 */
.keyBox{
    position: relative;
    width: 40%;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.key{
    position: relative;
    display: inline-block;
    width: 4.5vw;
    height: 5vw;
    padding: 0.5vw 1vw;
    margin: 0.5vw 0.2vw;
    border-radius:0.5vw;
    -webkit-border-radius:0.5vw;
    -moz-border-radius:0.5vw;
    -ms-border-radius:0.5vw;
    -o-border-radius:0.5vw;
    background: rgb(214,214,214);
    box-shadow: 0.2vw 0.2vw 0.5vw #474343,-0.2vw -0.2vw 0.5vw #fff;
    overflow: hidden;
}



.key::before{
    content: '';
    position: absolute;
    top: 3px;
    left: 4px;
    bottom: 14px;
    right: 12px;
    background: linear-gradient(90deg,#f3f3f3,#c9c9c9);
    border-radius: 0.5vw;
    -webkit-border-radius: 0.5vw;
    -moz-border-radius: 0.5vw;
    -ms-border-radius: 0.5vw;
    -o-border-radius: 0.5vw;
    box-shadow: -10px -10px 10px rgba(255, 255, 255, 0.25),    10px 5px 10px rgba(0,0,0,0.15);
} 



.key i{
    position: relative;
    color: rgb(17, 17, 17);
    text-transform: uppercase;
    font-size: 1em;
 
}


.key:last-child{
    width: 70%;
}

.key:active{
    box-shadow: 1px 1px 2px #fff,-1px -1px 2px #474343;

}


/* ----------------디자이너/designers.html---------------- */
.allBrands{
display: flex;
justify-content: center;
}

.brandList{
    width: 50%;
    text-align: left;
}

.brandList>span{
    font-size: var(--font-30px);
    padding-top: 30px;
}
/* -----------------usp 페이지----------------- */
.usp{
    display: flex;
    flex-direction: column;
}

.whyNearFetch{
height: 50%;
background-position: center;
background: url(/images/fashion.jpg) fixed;
background-size: 100%;
background-repeat: no-repeat;
}

.whyNearFetchTxt{
   color:var(--color-white);
    margin-top:15%;
    font-size: 3vw;
    font-weight: 500;
    margin-bottom: 30%;
}

.whyNearFetchTxt div:nth-child(2){
    font-size: 2vw;
    font-weight: 200;
}

.whyNearFetchTxt div:nth-child(4){
    font-size: 1.5vw;
}

.whyNearFetchTxt div:nth-child(5){
    font-size: 1vw;
    font-weight: 200;
}

.uspContents{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5vh;
}
.advantage{
    display: flex;
    justify-content: space-around;
    margin: 0 10vh 10vh;
    /* background-color: rgb(213, 235, 155); */
}

.uspTitle{
    /* background-color: red; */
    margin-top: var(--font-30px);
    font-size: 4vw;
    font-weight: 300;
}
.uspText{
    display: flex;
    justify-content: space-around;
    width: 80%;
}

.uspText h4,
.advan h3{
    font-weight: 200;
}

.advan>div{
    color: var(--color-white);
    position: relative;
    top: 50%;
    z-index: 10;
    font-weight: 200;
}

.advan h3,
.uspList>h4{
    font-size: 2vw;
    padding: 10px;
}

.advan img{
    position: relative;
    top: 0;
    width:400px;
    height:80% ;
    filter: brightness(50%);
    -webkit-filter: brightness(50%);
}

.uspImg{
    width: 50%;
}

.uspImg img{
    width: 100%;
}

.uspList{
    width: 50%;
    padding: 20px;
}

.uspList>.show{
    padding: 20px;
}

.uspList>p{
    padding: 10px;
    font-weight: 200;
    text-align: left;
}


/* ----------------QnA/qna.html---------------- */
.qna{
    display: flex;
    justify-content: center;
}

.qnaNavbar{
    padding:5vw 1vw;
    font-weight: 300;
}

.qnaNavbar ul li{
    padding: 0.6vw
}

.qnaNavbar ul li:nth-child(1){
    font-size: 1.5vw;
    font-weight: 500;
    text-decoration: underline;
}

.qnaText{
    width: 80%;


.accordion{
    margin: 3vw;
}
.accordion-collapse{
    text-align: left;
    margin-left: 1vw;
}

.accordion-button:not(.collapsed){
    color:var(--color-black);
    background-color: var(--color-lightgrey);
}

.qnaNavbar li:hover{
    background-color: var(--color-lightgrey);
}

