.myInfoList{
    display: flex;
  margin: 15% auto;
}

.infoBar{
    width: 15%;
    padding:5vw 1vw;
}

.infoBar ul li{
    margin:1vw;
}

.infoBar ul li:nth-child(1){
    font-size: 1.5vw;
    font-weight: 700;
}

.myInfo h3{
    background-color: red;
}