/* ----------------전체 공용---------------- */
/* CSS Reset */
html,body,h1,h2,h3,p,ol,ul,li,button,svg,main,a{
  padding: 0;
  margin: 0;
  box-sizing:border-box;
}

body {
  height: 100%;
  width: 100%;
  text-align: center;
}

:root{
  /* 컬러 */
  --color-white:white;
  --color-lightgrey:rgb(241, 241, 241);
  --color-grey:#d3d3d3;
  --color-darkgrey:#222222;
  --color-black:black;

  /* 폰트 크기 */
  --font-14px:14px;
  --font-16px:16px;
  --font-20px:20px;
  --font-30px:30px;
  --font-40px:40px;

  /* 한글 폰트체 */
  --font-main:font-family: 'Gowun Dodum', sans-serif;
  /* --font-en: 'BhuTuka Expanded One', cursive; */

}


/* 반응형 컴포넌트 */

/* 스몰 */
@media(max-width:576px){

  /* 유연하게 해야할 것 */
 
  /* 사이즈 조절할 것 */

  /* 감출 것 */

  /* 옮길 것 */


}

@media(max-width:768px){
  /* addDown.html  */
  nav[class="InfoLogo"]{
      display:block;
      text-align: center;
  }
}

@media (max-width:480px){

html{
  /* font-size:80%; *16px*62.5%에서 80%로 키우겠다 */
}
/* mobile 새로 만들어서 html에 추가해두기 */
.l_col_mobile_12_12{width:100%;} /*12칸 중 12칸 사용*/
.l_col_mobile_11_12{width:91.6666667%;} /*12칸 중 11칸 사용*/
.l_col_mobile_10_12{width:83.3333333%;} /*12칸 중 10칸 사용*/
.l_col_mobile_9_12{width:75%;} /*12칸 중 9칸 사용*/
.l_col_mobile_8_12{width:66.666667%;} /*12칸 중 8칸 사용*/
.l_col_mobile_7_12{width:58.3333333%;} /*12칸 중 7칸 사용*/
.l_col_mobile_6_12{width:50%;} /*12칸 중 6칸 사용*/
.l_col_mobile_5_12{width:41.666667%;} /*12칸 중 5칸 사용*/
.l_col_mobile_4_12{width:33.3333333%;} /*12칸 중 4칸 사용*/
.l_col_mobile_3_12{width:25%;} /*12칸 중 3칸 사용*/
.l_col_mobile_2_12{width:16.666667%;} /*12칸 중 2칸 사용*/
.l_col_mobile_1_12{width:8.3333333%;} /*12칸 중 1칸 사용*/
}

/* ul,i,a,li Reset  */
ul{
  list-style-type: none;
  margin-left:0;
  padding: 0;
}

i{
  border: none;
  text-decoration: none;
}

a{
  text-decoration-line: none !important;
  color:var(--color-darkgrey)!important;
}

li{
  list-style: none;
}

h2{
  padding: 3vh;
  font-size: var(--font-20px);
  font-weight: 500;
}

h3{
  font-size: var(--font-16px);
  font-weight: 400;
}

button{
  background-color: var(--color-black);
  color: var(--color-white);
  padding: 0.5vh;
  border:none;
}

button:hover{
  cursor: pointer;
}

button:active{
  transform: scale(1.02);
  -webkit-transform: scale(1.02);
  -moz-transform: scale(1.02);
  -ms-transform: scale(1.02);
  -o-transform: scale(1.02);
}
thead>tr{
  padding:10px;
  border-bottom: 1px solid var(--color-darkgrey);
  background-color: var(--color-black);
  color:var(--color-white);
}


tbody>tr>td{
  padding: 20px;
}

tbody>tr{
  border-bottom: 1px solid var(--color-grey);
}


/* 클리어픽스 */
.clearfix:before,
.clearfix:after {
  content: ' ';
  display: table;
}

.clearfix:after {
  clear: both;
}

.verticalLine{
  width: 0.1px; 
  /* height: 50vh; */
  border: 1px solid var(--color-grey);
}

.horizontalLine{
  width: 100%;
  height: 0.5px;
  border: 1px solid var(--color-black);
}
