/* -----------------usp 페이지----------------- */
.usp{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 13% auto;
}


.whyNearFetch{
height: 50%;
background-color: rgb(231, 248, 168);
background-position: center;
background: url(/images/fashion.jpg) fixed;
background-size: 100%;
background-repeat: no-repeat;
/* margin-top: 20em; */
}

.whyNearFetchTxt{
   color:white;
    /* background-color: pink; */
    margin-top:15%;
    font-size: 3vw;
    font-weight: 500;
    /* position: relative; */
    margin-bottom: 30%;
}

.whyNearFetchTxt div:nth-child(4){
    font-size: 1.5vw;
}

.whyNearFetchTxt div:nth-child(5){
    font-size: 1vw;
}


.uspContents{
    height: 30%;
    background-color: var(--color-black);
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.uspContents .uspText{
    color:red;
    /* background-color: yellow; */
    width: 30%;
}

.uspContents .easy{
    /* background-color: rgb(240, 203, 101); */
    width: 30%;

}

.uspContents .variety{
    /* background-color:rgb(245, 181, 139) ; */
    width: 30%;

}


.uspText{
    margin:1vw;
}

.uspText h4{
    /* background-color: yellowgreen; */
}

.uspImg img{
    width: 95%;
    height: 95%;
}

.advantage{
    height: 20%;
    /* background-color: rgb(111, 129, 45); */
    display: flex;
    justify-content: space-around;
    padding: 10vh;
}

.advan{
background-color: wheat;
width: 45%;
}

