.FooterInfo{
 
    display: flex;
    justify-content: space-around;
    color:var(--color-darkgrey);
    border-top: 1px solid var(--color-grey);
    letter-spacing: 3px;
}

.FooterInfo>div{
    padding: var(--font-30px);
    text-align: left;
}
.FooterInfo>div>h3{
    margin:20px -10px;
    font-size: 1vw;
}

.FooterInfo>div>ul>li{
    list-style-type: disc;
    font-size: var(--font-14px);
    padding: 3px;
}

.AppDownload{
    display: flex;
    flex-direction: column;
}

/* .carouselWrapper img{
    background: url(/images/3D.gif);
    background-position-x: center;
} */
