<div class="filterWrapper">
  <span class="filter">필터</span>
  <img src="/images/right-arrow.png" alt="" width="15px" class="leftrightBtn" />
  <div class="filter_category">
    <div class="filter_gender">
      <span>GENDER</span>
      <ul class="filter_gender_ul">
        <li>WOMEN</li>
        <li>MEN</li>
      </ul>
    </div>

    <div class="filter_category_women_small">
      <span>SMALL CATEGORY</span>
      <ul class="filter_category_women_small_ul">
        <li>Coats</li>
        <li>Dresses</li>
        <li>Jackets</li>
        <li>Jeans</li>
        <li>Knitwear</li>
        <li>Lingerie & Swimwear</li>
        <li>Shirts</li>
        <li>Skirts</li>
        <li>T-shirts</li>
        <li>Pants</li>
        <li>Boots</li>
        <li>Flats</li>
        <li>Heels</li>
        <li>Lace-Up Shoes</li>
        <li>Loafers</li>
        <li>Sandals</li>
        <li>Sneakers</li>
        <li>Wedges</li>
        <li>Backpacks</li>
        <li>Belt Bags</li>
        <li>Clutches</li>
        <li>Handbags</li>
        <li>Shopping Bags</li>
        <li>Shoulder Bags</li>
        <li>Travel Bags</li>
        <li>Belts & Braces</li>
        <li>Jewelry</li>
        <li>Glasses</li>
        <li>Gloves</li>
        <li>Hats</li>
        <li>Scarves & Foulards</li>
        <li>Wallets</li>
      </ul>
    </div>
    <!-- 
    <div class="filter_category_men_small">
      <span>CATEGORY</span>
      <ul class="filter_category_men_small_ul">
        <li>Coats</li>
        <li>Jackets</li>
        <li>Jeans</li>
        <li>Knitwear</li>
        <li>Shirts</li>
        <li>Suits</li>
        <li>T-shirts</li>
        <li>Pants</li>
        <li>Underwear & Swimwear</li>
        <li>Boots</li>
        <li>Lace-up Shoes</li>
        <li>Loafers</li>
        <li>Sandals</li>
        <li>Sneakers</li>
        <li>Backpacks</li>
        <li>Belt Bags</li>
        <li>Briefcases</li>
        <li>Clutches</li>
        <li>Handbags</li>
        <li>Messenger Bags</li>
        <li>Shopping Bags</li>
        <li>Travel Bags</li>
        <li>Belts & Braces</li>
        <li>Jewelry</li>
        <li>Glasses</li>
        <li>Gloves</li>
        <li>Hats</li>
        <li>Ties & Bowties</li>
        <li>Scarves & Foulards</li>
        <li>Wallets</li>
        <li>Watches</li>
      </ul>
    </div> -->
    <div class="filter_category_brand">
      <span>BRAND</span>
      <ul class="filter_category_brand_ul">
        <li>3.1 PHILLIP LIM</li>
        <li>A-COLD-WALL</li>
        <li>A.P.C.</li>
        <li>A.S. 98</li>
        <li>A.TESTONI</li>
        <li>ACNE STUDIOS</li>
        <li>ADIDAS</li>
        <li>ADIDAS Y-3 YOHJI YAMAMOTO</li>
        <li>AERONAUTICA MILITARE</li>
        <li>ALANUI</li>
        <li>ALDO CASTAGNA</li>
        <li>ALEXANDER MCQUEEN</li>
        <li>ALEXANDER SMITH</li>
        <li>ALEXANDER WANG</li>
        <li>ALEXANDRE VAUTHIER</li>
        <li>ALPHA INDUSTRIES</li>
        <li>ALYX</li>
        <li>AMBUSH</li>
        <li>AMI ALEXANDRE MATTIUSSI</li>
        <li>AMIRI</li>
        <li>ANCIENT GREEK SANDALS</li>
        <li>ANDERSON'S</li>
        <li>ANDREA D'AMICO</li>
        <li>ANDRÈ MAURICE 1921</li>
        <li>ANTONY MORATO</li>
        <li>ANYA HINDMARCH</li>
        <li>AQUASCUTUM</li>
        <li>AQUAZZURA</li>
        <li>ARMANI EXCHANGE</li>
        <li>ARMANI JEANS</li>
        <li>ASH</li>
        <li>ASPESI</li>
        <li>ATHLEISUREWEAR BY BOSS</li>
        <li>ATLANTIC STARS</li>
        <li>AUA</li>
        <li>AUTRY</li>
        <li>B-LOW THE BELT</li>
        <li>BAGUTTA</li>
        <li>BALENCIAGA</li>
        <li>BALLANTYNE</li>
        <li>BALLY</li>
        <li>BALMAIN</li>
        <li>BAO BAO ISSEY MIYAKE</li>
        <li>BARBOUR</li>
        <li>BARROW</li>
        <li>BEST COMPANY</li>
        <li>BILLIONAIRE BOYS CLUB</li>
        <li>BILLIONAIRE COUTURE</li>
        <li>BIRKENSTOCK</li>
        <li>BLAUER</li>
        <li>BLUNDSTONE</li>
        <li>BOGLIOLI</li>
        <li>BORBONESE</li>
        <li>BORSALINO</li>
        <li>BOTTEGA VENETA</li>
        <li>BOUTIQUE MOSCHINO</li>
        <li>BOY LONDON</li>
        <li>BRIGLIA 1949</li>
        <li>BRUNELLO CUCINELLI</li>
        <li>BRUNO PREMI</li>
        <li>BUFFALO LONDON</li>
        <li>BULGARI</li>
        <li>BURBERRY</li>
        <li>BUSCEMI</li>
        <li>BUTTERO</li>
        <li>CALVIN KLEIN</li>
        <li>CALVIN KLEIN JEANS</li>
        <li>CAMPER</li>
        <li>CANADA GOOSE</li>
        <li>CANALI</li>
        <li>CAR SHOE</li>
        <li>CARHARTT</li>
        <li>CARTIER</li>
        <li>CASADEI</li>
        <li>CASTANER</li>
        <li>CAZAL EYEWEAR</li>
        <li>CÉLINE</li>
        <li>CHANEL</li>
        <li>CHIARA FERRAGNI</li>
        <li>CHLOÉ</li>
        <li>CHRISTIAN LOUBOUTIN</li>
        <li>CHURCH'S</li>
        <li>CIESSE</li>
        <li>CLARKS</li>
        <li>COACH</li>
        <li>COCCINELLE</li>
        <li>COLMAR ORIGINALS</li>
        <li>COMME DES GARÇONS</li>
        <li>COMME DES GARÇONS PLAY</li>
        <li>COMMON PROJECTS</li>
        <li>CONVERSE</li>
        <li>CORNELIANI</li>
        <li>CP COMPANY</li>
        <li>CRIME LONDON</li>
        <li>CRUCIANI</li>
        <li>CULT GAIA</li>
        <li>D.A.T.E.</li>
        <li>DAMIR DOMA</li>
        <li>DAVIDSON</li>
        <li>DESIGUAL</li>
        <li>DIADORA</li>
        <li>DIADORA HERITAGE</li>
        <li>DIANE VON FURSTENBERG</li>
        <li>DIOR</li>
        <li>DITA</li>
        <li>DOLCE E GABBANA</li>
        <li>DOUCAL'S</li>
        <li>DR. MARTENS</li>
        <li>DRIES VAN NOTEN</li>
        <li>DRKSHDW BY RICK OWENS</li>
        <li>DRUMOHR</li>
        <li>DSQUARED2</li>
        <li>DUVETICA</li>
        <li>EASTPAK</li>
        <li>EDWARD GREEN</li>
        <li>ELISABETTA FRANCHI</li>
        <li>EMPORIO ARMANI</li>
        <li>ENTRE AMIS</li>
        <li>ERMENEGILDO ZEGNA</li>
        <li>ETRO</li>
        <li>EYEPETIZER</li>
        <li>FABIANA FILIPPI</li>
        <li>FALIERO SARTI</li>
        <li>FAY</li>
        <li>FEAR OF GOD</li>
        <li>FEDELI</li>
        <li>FENDI</li>
        <li>FILA</li>
        <li>FILLING PIECES</li>
        <li>FINAMORE</li>
        <li>FIORUCCI</li>
        <li>FORTE FORTE</li>
        <li>FRATELLI ROSSETTI</li>
        <li>FURLA</li>
        <li>GALLO</li>
        <li>GANNI</li>
        <li>GANT</li>
        <li>GCDS</li>
        <li>GHOUD</li>
        <li>GIADA BENINCASA</li>
        <li>GIMO'S</li>
        <li>GIORGIO ARMANI</li>
        <li>GIUSEPPE ZANOTTI DESIGN</li>
        <li>GIVENCHY</li>
        <li>GOLDEN GOOSE</li>
        <li>GOSHA RUBCHINSKIY</li>
        <li>G-SHOCK WATCHES BY CASIO</li>
        <li>GUCCI</li>
        <li>GUESS</li>
        <li>HALMANERA</li>
        <li>HARMONT & BLAINE</li>
        <li>HARRIS WHARF LONDON</li>
        <li>HARTFORD</li>
        <li>HERNO</li>
        <li>HERON PRESTON</li>
        <li>HERSCHEL SUPPLY & CO</li>
        <li>HOMME PLISSÉ ISSEY MIYAKE</li>
        <li>HUGO BOSS</li>
        <li>ICEBERG</li>
        <li>IH NOM UH NIT</li>
        <li>INCOTEX</li>
        <li>ISABEL MARANT</li>
        <li>J.W. ANDERSON</li>
        <li>JACK & JONES</li>
        <li>JACOB COHEN</li>
        <li>JACQUEMUS</li>
        <li>JAMES PERSE</li>
        <li>JANET SPORT</li>
        <li>JANET&JANET</li>
        <li>JECKERSON</li>
        <li>JEFFREY CAMPBELL</li>
        <li>JIL SANDER</li>
        <li>JIMMY CHOO</li>
        <li>JOHN LOBB</li>
        <li>JOHN SMEDLEY</li>
        <li>JOSHUA SANDERS</li>
        <li>JUNYA WATANABE</li>
        <li>K-WAY</li>
        <li>KANGRA</li>
        <li>KAPPA</li>
        <li>KARL LAGERFELD</li>
        <li>KHRISJOY</li>
        <li>KITON</li>
        <li>L'AUTRE CHOSE</li>
        <li>LACOSTE</li>
        <li>LANCASTER PARIS</li>
        <li>LANVIN</li>
        <li>LE PARMENTIER</li>
        <li>LEATHER CROWN</li>
        <li>LERZ</li>
        <li>LOEWE</li>
        <li>LOLA CRUZ</li>
        <li>LONGHI</li>
        <li>LORO PIANA</li>
        <li>LOVE MOSCHINO</li>
        <li>LUIGI BORRELLI</li>
        <li>MAISON KITSUNÉ</li>
        <li>MAISON MARGIELA</li>
        <li>MAJESTIC FILATURES</li>
        <li>MALÌPARMI</li>
        <li>MALONE SOULIERS</li>
        <li>MARC ELLIS</li>
        <li>MARC JACOBS</li>
        <li>MARCELO BURLON</li>
        <li>MARINE SERRE</li>
        <li>MARNI</li>
        <li>MARSELL</li>
        <li>MAUI JIM</li>
        <li>MC2 SAINT BARTH</li>
        <li>MCM</li>
        <li>MCQ BY ALEXANDER MCQUEEN</li>
        <li>MICHAEL KORS</li>
        <li>MISSONI</li>
        <li>MIU MIU</li>
        <li>MOA</li>
        <li>MOMA</li>
        <li>MONCLER</li>
        <li>MOORER</li>
        <li>MORESCHI</li>
        <li>MOSCHINO</li>
        <li>MOSCHINO UNDERWEAR</li>
        <li>MOU</li>
        <li>MSGM</li>
        <li>NANUSHKA</li>
        <li>NAPAPIJRI</li>
        <li>NEIL BARRETT</li>
        <li>NERO GIARDINI</li>
        <li>NEW BALANCE</li>
        <li>NEW ERA</li>
        <li>NIKE</li>
        <li>NORTH SAILS</li>
        <li>OAKLEY</li>
        <li>OFF-WHITE</li>
        <li>OFFICINE CREATIVE</li>
        <li>OLIVER PEOPLES</li>
        <li>ONLY</li>
        <li>ONLY & SONS</li>
        <li>ORIGINAL VINTAGE</li>
        <li>ORLEBAR BROWN</li>
        <li>PALM ANGELS</li>
        <li>PALOMA BARCELÓ</li>
        <li>PANTANETTI</li>
        <li>PARABOOT</li>
        <li>PARAJUMPERS</li>
        <li>PARIS TEXAS</li>
        <li>PATAGONIA</li>
        <li>PATRIZIA PEPE</li>
        <li>PAUL & SHARK</li>
        <li>PAUL SMITH</li>
        <li>PÀNCHIC</li>
        <li>PEOPLE OF SHIBUYA</li>
        <li>PERSOL</li>
        <li>PERSONA BY MARINA RINALDI</li>
        <li>PEUTEREY</li>
        <li>PHILIPP PLEIN</li>
        <li>PHILIPPE MODEL</li>
        <li>PINKO</li>
        <li>PLEIN SPORT</li>
        <li>POMME D'OR</li>
        <li>PONS QUINTANA</li>
        <li>PRADA</li>
        <li>PREMIATA</li>
        <li>PROENZA SCHOULER</li>
        <li>PS BY PAUL SMITH</li>
        <li>PUMA</li>
        <li>PYREX</li>
        <li>R13</li>
        <li>RAINS</li>
        <li>RALPH LAUREN</li>
        <li>RED VALENTINO</li>
        <li>RED WING</li>
        <li>REEBOK</li>
        <li>REPETTO</li>
        <li>RHUDE</li>
        <li>RICK OWENS</li>
        <li>RINASCIMENTO</li>
        <li>ROBERT CLERGERIE</li>
        <li>ROBERTA DI CAMERINO</li>
        <li>ROSSIGNOL</li>
        <li>ROY ROGER'S</li>
        <li>RRD</li>
        <li>RUSLAN BAGINSKIY</li>
        <li>S.W.O.R.D 6.6.44</li>
        <li>SAINT LAURENT</li>
        <li>SALVATORE FERRAGAMO</li>
        <li>SALVATORE SANTORO</li>
        <li>SANTONI</li>
        <li>SAUCONY</li>
        <li>SAVE THE DUCK</li>
        <li>SCHUTZ</li>
        <li>SEBAGO</li>
        <li>SEE BY CHLOÉ</li>
        <li>SELF-PORTRAIT</li>
        <li>SERENGETI</li>
        <li>SERGIO ROSSI</li>
        <li>SILVANO SASSETTI</li>
        <li>SIVIGLIA</li>
        <li>SOPHIA WEBSTER</li>
        <li>SOPHIE HULME</li>
        <li>STAND</li>
        <li>STELLA MCCARTNEY</li>
        <li>STOKTON</li>
        <li>STONE ISLAND</li>
        <li>STUART WEITZMAN</li>
        <li>STUSSY</li>
        <li>SUICOKE</li>
        <li>SUNDEK</li>
        <li>SUPER BY RETROSUPERFUTURE</li>
        <li>SUPERGA</li>
        <li>TAGLIATORE</li>
        <li>TELFAR</li>
        <li>THE ATTICO</li>
        <li>THE NORTH FACE</li>
        <li>THOM BROWNE</li>
        <li>THOM KROM</li>
        <li>TIMBERLAND</li>
        <li>TOM FORD</li>
        <li>TOMMY HILFIGER</li>
        <li>TORY BURCH</li>
        <li>TRICKER'S</li>
        <li>TRIPPEN</li>
        <li>TRUSSARDI</li>
        <li>UGG</li>
        <li>UNRAVEL PROJECT</li>
        <li>VALENTINO</li>
        <li>VALENTINO GARAVANI</li>
        <li>VALSPORT</li>
        <li>VANS</li>
        <li>VEJA</li>
        <li>VERSACE</li>
        <li>VERSACE COLLECTION</li>
        <li>VERSACE JEANS</li>
        <li>VERSUS VERSACE</li>
        <li>VETEMENTS</li>
        <li>VIA ROMA 15</li>
        <li>VISION OF SUPER</li>
        <li>VOILE BLANCHE</li>
        <li>WINDSOR SMITH</li>
        <li>WOOLRICH</li>
        <li>YEEZY</li>
        <li>Z ZEGNA</li>
        <li>ZANELLATO</li>
        <li>ZANONE</li>
      </ul>
    </div>
  </div>
</div>

<!-- 가격 슬라이더바 -->
<!-- <div class="price-range-slider">
                 <div class="jquery-script-ads" align="center" style="margin:10px auto"></div>
                 <div class="price-range-block">
                     <div id="slider-range" class="price-filter-range" name="rangeInput"></div>
                 
                     <div style="margin:30px auto">
                     <div class="inputWrapper">
                         <input type="number" min=0 max="99950000" oninput="validity.valid||(value='0');" id="min_price" class="price-range-field" /> _
                         <input type="number" min=0 max="100000000" oninput="validity.valid||(value='100000000');" id="max_price" class="price-range-field" />
                         <span>만원</span>
                     </div>                                
                     <div id="searchResults" class="search-results-block"></div>
                 </div>
             </div>
   
            </div> -->
