<div class="filterWrapper">
  <span class="filter">필터</span>
  <img src="/images/right-arrow.png" alt="" width="15px" class="leftrightBtn" />
  <div class="filter_category">
    <div class="filter_gender">
      <span>GENDER</span>
      <ul class="filter_gender_ul"></ul>
    </div>

    <div class="filter_category_small">
      <span>SMALL CATEGORY</span>
      <ul class="filter_category_small_ul"></ul>
    </div>

    <div class="filter_category_brand">
      <span>BRAND</span>
      <ul class="filter_category_brand_ul"></ul>
    </div>

  
  </div>
</div>
