<div class="filterWrapper">
    <a href="#" class="filter">필터</a>
    <img src="/images/right-arrow.png" alt="" width="15px" class="leftrightBtn">
    <ul class="filterDetail">
        <li>
            카테고리
            <img src="/images/down-arrow.png" alt="" width="12px">
            <ul>
                 <li>의류
                     <img src="/images/down-arrow.png" alt="" width="10px" class="updownBtn">
                     <ul id="clothing">
                         <li>니트웨어</li>
                         <li>데님</li>
                         <li>드레스</li>
                         <li>쇼츠</li>
                         <li>수영복&비치웨어</li>
                         <li>스커트</li>
                         <li>올인원</li>
                         <li>재킷</li>
                         <li>코트</li>
                         <li>탑</li>
                         <li>테일러링</li>
                         <li>팬츠</li>
                     </ul>
                 </li>
                 
                 <li>슈즈
                     <img src="/images/down-arrow.png" alt="" width="10px" class="updownBtn">
                     <ul id="shoes">
                         <li>레이스업 슈즈</li>
                         <li>로퍼</li>
                         <li>뮬</li>
                         <li>부츠</li>
                         <li>브로그&옥스포드</li>
                         <li>샌들</li>
                         <li>스니커즈</li>
                         <li>슬립온</li>
                         <li>에스파드리유</li>
                         <li>여아/슈즈 액세서리</li>
                         <li>펌프스</li>
                         <li>플랫슈즈</li>
                         <li>슬리퍼</li>
                     </ul>
                 </li>
                 <li>백
                     <img src="/images/down-arrow.png" alt="" width="10px" class="updownBtn">
                     <ul id="bags">
                         <li>노트북&브리프 케이스</li>
                         <li>미니 백</li>
                         <li>백 액세서리</li>
                         <li>백팩</li>
                         <li>버킷 백</li>
                         <li>벨트 백</li>
                         <li>비치 백</li>
                         <li>사첼&크로스 백</li>
                         <li>숄더 백</li>
                         <li>클러치</li>
                         <li>키링&체인</li>
                         <li>토트 백</li>
                         <li>트래블 백</li>
                     </ul>
                 </li>
                 <li>액세서리
                     <img src="/images/down-arrow.png" alt="" width="10px" class="updownBtn">
                     <ul id="acc">
                         <li>넥타이</li>
                         <li>마스크</li>
                         <li>메이크업 파우치</li>
                         <li>모자</li>
                         <li>벨트</li>
                         <li>선글라스</li>
                         <li>스카프</li>
                         <li>안경&프레임</li>
                         <li>우산</li>
                         <li>웨딩 액세서리</li>
                         <li>장갑</li>
                         <li>지갑&카드홀더</li>
                         <li>키링&체인</li>
                         <li>테크 액세서리</li>
                         <li>트래블 액세서리</li>
                         <li>헤어 액세서리</li>
                     </ul>
                 </li>
                 <li>주얼리
                     <img src="/images/down-arrow.png" alt="" width="10px" class="updownBtn">
                     <ul id="jewerly">
                         <li>네크리스</li>
                         <li>링</li>
                         <li>바디 주얼리</li>
                         <li>브레이슬릿</li>
                         <li>브로치&핀</li>
                         <li>시계</li>
                         <li>이어링</li>
                     </ul>
                 </li>
            </ul>
            
        </li>
        <li>
            브랜드
            <img src="/images/down-arrow.png" alt="" width="12px">

        </li>
        <li>
            성별
            <img src="/images/down-arrow.png" alt="" width="12px">
        </li>
        <li>
            가격
            <img src="/images/down-arrow.png" alt="" width="12px">

            <!-- 가격 슬라이더바 -->
            <div class="price-range-slider">
                 <div class="jquery-script-ads" align="center" style="margin:10px auto"></div>
                 <div class="price-range-block">
                     <div id="slider-range" class="price-filter-range" name="rangeInput"></div>
                 
                     <!-- <div style="margin:30px auto"> -->
                     <div class="inputWrapper">
                         <input type="number" min=0 max="99950000" oninput="validity.valid||(value='0');" id="min_price" class="price-range-field" /> _
                         <input type="number" min=0 max="100000000" oninput="validity.valid||(value='100000000');" id="max_price" class="price-range-field" />
                         <span>만원</span>
                     </div>                                
                     <div id="searchResults" class="search-results-block"></div>
                 </div>
             </div>
         </li>
    </ul>
</div>