<!-- 최상단 헤더 -->
<div class="section headerwrapper">
            
    <!-- 최상단 신상입고 공지 -->
    <div class="Swiper">
        <div class="NewArrivals">
            <span>
                <a href="#">신상품 입고</a>
            </span>
            <span class="Andbar"></span>
            <span>
                <a href="">
                    지금 막 도착한 새로운 스타일을 만나보세요.
                </a>
            </span>
            <a href="#" >
                <img src="/images/cancel.png" alt="" class="closeBtn swiperOff">
            </a>
        </div>
    </div> 

    <!-- 사이트 로고 및 메뉴버튼 -->
    <div class="InfoLogo">
        <div class="MainLogoWrapper">
            <a href="">NearFetch</a>
        </div>
        <div class="InfoLogos">
            <a href="" class="icon">
                <img src="/images/profile.png" alt="" >
            </a>
            <a href="" class="icon">
                <img src="/images/shopping-cart.png" alt="" >
            </a>
            <a href="" class="icon">
                <img src="/images/like.png" alt="">
            </a>
        </div>
    </div>
    
    <!-- 상품 카테고리&검색창 -->
    <div class="itemCategory">
        <!-- 상품 카테고리 -->
        <nav class="Item">
            <a href="#">신상품</a>
            <a href="#">남성</a>
            <a href="#">여성</a>
            <a href="#">의류</a>
            <a href="#">슈즈</a>
            <a href="#">백</a>
            <a href="#">액세서리</a>
            <a href="#">주얼리</a>
            <a href="#">세일</a>
        </nav>

        <!-- 검색창 -->
        <form action="https://www.google.com/search" method="GET">
            <input name="search" type="text" placeholder="당신의 아이템 찾으러가기">
            <a href="" class="icon">
                <img src="/images/search.png" alt="">
            </a>
        </form>
    </div>
</div>  