<div class="itemListWrapper">
    <div class="box_wrap">
        <img src="/images/shopping-cart.png" alt="" class="cart">                                     
        <div class="img_box">
            <img src="https://kr.louisvuitton.com/images/is/image/lv/1/PP_VP_L/%EB%A3%A8%EC%9D%B4-%EB%B9%84%ED%86%B5-%EC%8A%A4%EC%9C%99--M20396_PM2_Front%20view.png?wid=456&hei=456" alt="" class="bag"> 
        </div>
        <div class="contents">
            <div class="itemBrand">GUCCI</div>
            <div class="itemName">마티백 18 크링클드 </div> 
            <div class="itemOption"> 버터</div> 
            <span class="price">139,000원</span>
            <span class="sale_price"></span>
        </div>
    </div>
    <div class="box_wrap">
        <img src="/images/shopping-cart.png" alt="" class="cart">                                     
        <div class="img_box">
            <img src="https://kr.louisvuitton.com/images/is/image/lv/1/PP_VP_L/%EB%A3%A8%EC%9D%B4-%EB%B9%84%ED%86%B5-%EC%8A%A4%EC%9C%99--M20396_PM2_Front%20view.png?wid=456&hei=456" alt="" class="bag"> 
        </div>
        <div class="contents">
            <div class="itemBrand">GUCCI</div>
            <div class="itemName">마티백 18 크링클드 </div> 
            <div class="itemOption"> 버터</div> 
            <span class="price">139,000원</span>
            <span class="sale_price"></span>
        </div>
    </div>
    <div class="box_wrap">
        <img src="/images/shopping-cart.png" alt="" class="cart">                                     
        <div class="img_box">
            <img src="https://kr.louisvuitton.com/images/is/image/lv/1/PP_VP_L/%EB%A3%A8%EC%9D%B4-%EB%B9%84%ED%86%B5-%EC%8A%A4%EC%9C%99--M20396_PM2_Front%20view.png?wid=456&hei=456" alt="" class="bag"> 
        </div>
        <div class="contents">
            <div class="itemBrand">GUCCI</div>
            <div class="itemName">마티백 18 크링클드 </div> 
            <div class="itemOption"> 버터</div> 
            <span class="price">139,000원</span>
            <span class="sale_price"></span>
        </div>
    </div>
    <div class="box_wrap">
        <img src="/images/shopping-cart.png" alt="" class="cart">                                     
        <div class="img_box">
            <img src="https://kr.louisvuitton.com/images/is/image/lv/1/PP_VP_L/%EB%A3%A8%EC%9D%B4-%EB%B9%84%ED%86%B5-%EC%8A%A4%EC%9C%99--M20396_PM2_Front%20view.png?wid=456&hei=456" alt="" class="bag"> 
        </div>
        <div class="contents">
            <div class="itemBrand">GUCCI</div>
            <div class="itemName">마티백 18 크링클드 </div> 
            <div class="itemOption"> 버터</div> 
            <span class="price">139,000원</span>
            <span class="sale_price"></span>
        </div>
    </div>
    <div class="box_wrap">
        <img src="/images/shopping-cart.png" alt="" class="cart">                                     
        <div class="img_box">
            <img src="https://kr.louisvuitton.com/images/is/image/lv/1/PP_VP_L/%EB%A3%A8%EC%9D%B4-%EB%B9%84%ED%86%B5-%EC%8A%A4%EC%9C%99--M20396_PM2_Front%20view.png?wid=456&hei=456" alt="" class="bag"> 
        </div>
        <div class="contents">
            <div class="itemBrand">GUCCI</div>
            <div class="itemName">마티백 18 크링클드 </div> 
            <div class="itemOption"> 버터</div> 
            <span class="price">139,000원</span>
            <span class="sale_price"></span>
        </div>
    </div>
    <div class="box_wrap">
        <img src="/images/shopping-cart.png" alt="" class="cart">                                     
        <div class="img_box">
            <img src="https://kr.louisvuitton.com/images/is/image/lv/1/PP_VP_L/%EB%A3%A8%EC%9D%B4-%EB%B9%84%ED%86%B5-%EC%8A%A4%EC%9C%99--M20396_PM2_Front%20view.png?wid=456&hei=456" alt="" class="bag"> 
        </div>
        <div class="contents">
            <div class="itemBrand">GUCCI</div>
            <div class="itemName">마티백 18 크링클드 </div> 
            <div class="itemOption"> 버터</div> 
            <span class="price">139,000원</span>
            <span class="sale_price"></span>
        </div>
    </div>
    <div class="box_wrap">
        <img src="/images/shopping-cart.png" alt="" class="cart">                                     
        <div class="img_box">
            <img src="https://kr.louisvuitton.com/images/is/image/lv/1/PP_VP_L/%EB%A3%A8%EC%9D%B4-%EB%B9%84%ED%86%B5-%EC%8A%A4%EC%9C%99--M20396_PM2_Front%20view.png?wid=456&hei=456" alt="" class="bag"> 
        </div>
        <div class="contents">
            <div class="itemBrand">GUCCI</div>
            <div class="itemName">마티백 18 크링클드 </div> 
            <div class="itemOption"> 버터</div> 
            <span class="price">139,000원</span>
            <span class="sale_price"></span>
        </div>
    </div>
    <div class="box_wrap">
        <img src="/images/shopping-cart.png" alt="" class="cart">                                     
        <div class="img_box">
            <img src="https://kr.louisvuitton.com/images/is/image/lv/1/PP_VP_L/%EB%A3%A8%EC%9D%B4-%EB%B9%84%ED%86%B5-%EC%8A%A4%EC%9C%99--M20396_PM2_Front%20view.png?wid=456&hei=456" alt="" class="bag"> 
        </div>
        <div class="contents">
            <div class="itemBrand">GUCCI</div>
            <div class="itemName">마티백 18 크링클드 </div> 
            <div class="itemOption"> 버터</div> 
            <span class="price">139,000원</span>
            <span class="sale_price"></span>
        </div>
    </div>
</div>