<div id="modal" class="modal-overlay">
    <div class="modal-window">
        <div class="close-area">
            <img src="/images/cancel.png" alt="" class="closeBtn">
        </div>
        <form action="" class="login">
            <div class="loginFormTitle">즐거운 니어페치 쇼핑 시작</div>
            <div class="loginNsignin">
                <ul>
                    <li><a>로그인</a></li>
                    <li><a>회원 가입</a></li>
                </ul>
            </div>
            <div class="ui-slider-horizontal"></div>
            <div class="btnWrapper">
                <button class="kakaoLogin">카카오톡으로 로그인</button>
                <button class="mailLogin">이메일로 로그인</button>
            </div>
            <div class="loginActions">
                <ul>
                    <li><a href="">회원가입하기</a></li>
                    <li><a href="">아이디를 잊으셨나요?</a></li>
                    <li><a href="">비밀번호를 잊으셨나요?</a></li>
                </ul>
            </div>
        </form>
    </div>
</div>