<!-- <div id="signInModal" class="modal-overlay"> -->
    <div class="modal-window">
        <div class="close-area">
            <img src="/images/cancel.png" alt="" class="closeBtn">
        </div>
        <form action="" class="sign">
            <div class="signInFormTitle">즐거운 니어페치 쇼핑 시작</div>
            <div class="loginNsignin">
                <ul>
                    <li>
                        <a href="#">로그인</a>
                       
                    </li>
                    <li>
                        <a href="">회원 가입</a>
                    </li>
                </ul>
            </div>

            <!-- 가로줄 -->
            <div class="ui-slider-horizontal"></div>
            
            <!-- 가입 정보 -->
            <div class="signiInBtnWrapper">
                <div class="inputWrapper">
                    <label for="name">이름</label><br>
                    <input type="text" id="name">
                </div>
                <div class="inputWrapper">
                    <label for="mail">이메일 주소</label><br>
                    <input type="text" id="mail">
                </div>
                <div class="inputWrapper">
                    <label for="password">비밀번호</label><br>
                    <input type="text" id="password">
                </div>
            </div>
            
            <!-- 이용약관 동의  -->
            <div class="signInAgreeWrapper">
                <div>개인 정보 등록 시 니어패치의 이용약관에 동의하시게 됩니다.</div>
                <input type="checkbox" > 니어페치의 ‘개인 정보 보호 및 쿠키 정책'에 동의합니다.<br>
                <input type="checkbox" > 니어페치의 ‘개인 정보 보호 및 쿠키 정책'에 동의합니다.
            </div>

            <!-- 버튼 -->
            <div class="btnWrapper">
                <button class="goSignIn">회원 가입하기</button>
                <div>또는</div>
                <button class="kakaoLogin">카카오톡으로 로그인</button>
                <button class="mailLogin">이메일로 로그인</button>
            </div>

            <!-- 회원가입하기 -->
            <div class="loginActions">
                <ul>
                    <li><a href="">회원가입하기</a></li>
                    <li><a href="">아이디를 잊으셨나요?</a></li>
                    <li><a href="">비밀번호를 잊으셨나요?</a></li>
                </ul>
            </div>
        </form>
    </div>
<!-- </div> -->
